/.gradle
/baksmali/build
/dexlib/build
/dexlib2/build
/dexlib2/accessorTestGenerator/build
/smali/build
/util/build
/smalidea/build
/baksmali/out
/dexlib/out
/dexlib2/out
/dexlib2/accessorTestGenerator/out
/smali/out
/util/out
/smalidea/out
/upkserver/out
/upkserver/build
*.iml
*.ipr
*.iws
.idea
